<!-- Formulaire de séléction local/Bucket S3 - version 1.0 -->
<!-- Modèle Bootstrap de base qui est fourni par Flask Bootstrap -->
{% extends "layout.html" %}
{% block title %}Liste Buckets S3{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3> <p style="color: blue;"><u><b> LISTE DES DIFFÉRENTS BUCKETS ACCESSIBLE SUR AMAZON S3</b></u></p></h3>

      <table class="table table-striped">
        <tr>
          <th><p style="color: rgb(29, 110, 177);">Nom Bucket</th></p>
          <th><p style="color: rgb(29, 110, 177);">Créer</th></p>
          <th></th>
        </tr>

        {% for bucket in buckets %}
        <tr>
          <td>{{ bucket['Name'] }}</td>
          <td>{{ bucket['CreationDate'] | datetimeformat }}</td>
          <td>
<!-- Formulaire de sélectionnement -->
            <form class="select-bucket" action="{{ url_for('index') }}" method="post">
              <input type="hidden" name="bucket" value="{{ bucket['Name'] }}">
              <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-archive"></i>
                Sélectionner
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
